<template>
  <div class="question">
        <div class="loading-element" v-if="this.loading">
        </div>
        <div class="question-grid" v-if="!this.loading && this.questions.length != 0">
            <h1 class="question-header" v-html="this.questions[index].question"/>
            <button class="answer-button" v-on:click="onClick(questions[index].correct_answer == answers[0])" v-html="answers[0]"/>
            <button class="answer-button" v-on:click="onClick(questions[index].correct_answer == answers[1])" v-html="answers[1]"/>
            <button class="answer-button" v-on:click="onClick(questions[index].correct_answer == answers[2])" v-html="answers[2]"/>
            <button class="answer-button" v-on:click="onClick(questions[index].correct_answer == answers[3])" v-html="answers[3]"/>
        </div>
  </div>
</template>

<script>
import { getQuestions } from '../../api/Question.api';

export default {
    name: 'QuestionPage',
    methods: {
        shuffleAnswers(...array) {
            var currentIndex = array.length, temporaryValue, randomIndex;

            // While there remain elements to shuffle...
            while (0 !== currentIndex) {

                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                // And swap it with the current element.
                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }

            return array;
        },
        onClick(isCorrect){
            console.log("Correct answer: " + isCorrect)

            //If answer is correct, increase score
            if (isCorrect) {
                this.score += 10;
            }

            //Next question
            this.index++;
            
            
            //To send score to parent, use events (this.$emit('send-score', score))
            //Go to scorepage when last question is answered
            if (this.index == this.numberOfQuestions) {
                sessionStorage.setItem('score', this.score);
                sessionStorage.setItem('numberOfQuestions', this.questions.length);
                this.$router.push({ 
                    path: '/score'
                });
            } else {
                this.answers = this.shuffleAnswers(this.questions[this.index].correct_answer, this.questions[this.index].incorrect_answers[0], 
                                   this.questions[this.index].incorrect_answers[1], this.questions[this.index].incorrect_answers[2]);
            }
        }
    },
    data() {
        return {
            questions: [],
            loading: true,
            answers: [],
            score: 0,
            index: 0,
            numberOfQuestions: 10 
        }
    },
    async created() {
        try {
            this.questions = await getQuestions();
            this.answers = this.shuffleAnswers(this.questions[0].correct_answer, this.questions[0].incorrect_answers[0], 
                                    this.questions[0].incorrect_answers[1], this.questions[0].incorrect_answers[2]);
        } catch (error) {
            console.log(error);
        } finally {
            this.loading = false;
        }
    }
}
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Monoton&display=swap');

    .question {
        display: flex;
        align-items: center;
        height: 600px;
        width: 800px;
        margin: auto;
    }

    .question div {
        margin: 50px auto auto auto;

    }

    .question-grid {
        display: grid;
        grid: 150px 150px 150px / 350px 350px;

        background-color: aquamarine;
        font-family: 'Architects Daughter', cursive;

        border-radius: 8px;
        border: 2px solid black;
    }

    .question-header {
        grid-area: 1 / 1 / 2 / span 2;
        margin: auto;
        width: auto;
        padding: 20px;
    }

    .answer-button {
        margin: auto auto auto auto;
        height: 60px;
        width: 280px;

        border-radius: 8px;
        border: 2px solid darkred;

        background-color: rgb(196, 196, 95);
        box-shadow: 0 9px #999;

        font-family: 'Architects Daughter', cursive;
        font-size: 20px;
    }

    .answer-button:hover {
        background-color: rgb(99, 99, 47);
    }

    .answer-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    }

    .loading-element {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
</style>