<template>
  <div class="score">
      <h1 class="score-text">Your got {{ score }} of {{ numberOfQuestions * 10 }}</h1>
      <router-link to="/start">
        <button class="restart-button">Play again, champ!</button>
      </router-link>
  </div>
</template>

<script>
export default {
    name: 'ScorePage',
    data() {
      return {
        score: 0,
        numberOfQuestions: 0
      }
    },
    created() {
      this.score = sessionStorage.getItem('score');
      this.numberOfQuestions = sessionStorage.getItem('numberOfQuestions');
    }
}
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Monoton&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

    .score {
        height: 600px;
        width: 800px;
        
        margin-left: auto;
        margin-right: auto;
    }

    .score-text {
      font-family: 'Monoton', cursive;
      font-size: 50px;
      color: white;
      margin: 200px auto auto auto;
    }
        
    .restart-button {
        margin: 50px auto auto auto;
        height: 60px;
        width: 280px;

        border-radius: 8px;
        border: 2px solid darkred;

        background-color: rgb(196, 196, 95);
        box-shadow: 0 9px #999;
        font-family: 'Architects Daughter', cursive;
        font-size: 20px;
    }

    .restart-button:hover {
        background-color: rgb(99, 99, 47);
    }

    .restart-button:active {
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
</style>