<template>
  <div class="start">
        <router-link to="/question" >
            <img class="boris" src="../../images/Boris.jpg" alt="Start Quiz Image" srcset="">
        </router-link>
  </div>
</template>

<script>
export default {
  name: "StartPage"
};
</script>

<style>
    .start {
        width: 100%;
    }

    .boris {
      width: 40%;
      border-radius: 12px;
      border: 20px solid pink;
    }
</style>